<div class="columns pt5 pb5">
  <div class="is-hidden-desktop column is-2 is-offset-1 has-text-centered">
    <% if !@job.avatar.file.nil? %>
      <%= link_to image_tag(@job.avatar_url(:thumb), alt: @job.job_author, class: "has-text-centered") %>
    <% end %>
    <h2 class="mt2 mb4 f3 has-text-centered"><%= @job.job_author %></h2>
    <% if current_user.try(:admin) || job_author(@job) %>
      <ul class="pv3">
        <li class="pv1 f6">פעולות מנהל: </li>
        <!-- <li class="pv1 inline-block">
          <%= link_to 'ראה', @job, class: 'button is-small is-link is-outlined' %></li> -->
        <li class="pv1 inline-block">
          <%= link_to 'ערוך משרה', edit_job_path(@job), class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'מחק משרה', @job, method: :delete, data: { confirm: 'האם אתה בטוח?' }, class: 'button is-small is-danger is-outlined' %></li>
      </ul>
    <% end %>
  </div>
  <div class="column is-7 is-offset-1 reversed">
    <p class="f7"><i class="fa fa-clock"></i> Posted <%= time_ago_in_words(@job.created_at) %> ago</p>
    <h1 class="title is-2">דרוש/ה <%= @job.position.name %></h1>
    <ul class="list pb4 pt4">
      <li class="block f6 pr2"><%= job_type(@job.category) %></li>
      <li class="block f6 ph2"><i class="fas fa-map-marker-alt"></i> <%= @job.location %></li>
      <div class="content text-serif f4 ph2">
        <%= @job.description.html_safe %>
      </div>
    </ul>
    <%= link_to 'שלח קורות חיים', new_job_job_application_path(@job.id), class:"button apply-button is-rounded is-large is-link" %>
  </div>
  <div class="is-hidden-touch column is-2 is-offset-1 has-text-centered">
    <% if !@job.avatar.file.nil? %>
      <%= link_to image_tag(@job.avatar_url(:thumb), alt: @job.job_author, class: "has-text-centered") %>
    <% end %>
    <h2 class="mt2 mb4 f3 has-text-centered"><%= @job.job_author %></h2>
    <div class="job-phone">
      <%= @job.job_phone %>
    </div>
    <% if current_user.try(:admin) || job_author(@job) %>
      <ul class="pv3">
        <li class="pv1 f6">פעולות מנהל: </li>
        <!-- <li class="pv1 inline-block">
          <%= link_to 'ראה', @job, class: 'button is-small is-link is-outlined' %></li> -->
        <li class="pv1 inline-block">
          <%= link_to 'ערוך משרה', edit_job_path(@job), class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'מחק משרה', @job, method: :delete, data: { confirm: 'האם אתה בטוח?' }, class: 'button is-small is-danger is-outlined' %></li>
      </ul>
    <% end %>
  </div>
</div>