<%= simple_form_for [@job, @job_application], html: {multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="columns">
    <div class="field column is-6">
      <div class="control">
        <%= f.input :full_name, label: "שם מלא", error: "נא מלא שם", required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>
    <div class="field column is-6">
      <div class="control">
        <%= f.input :city, label: "עיר", error: "נא מלא עיר מגורים", required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="field column is-6">
      <div class="control">
        <%= f.input :phone_number, label: "מספר פלאפון", error: "נא מלא מספר פלאפון", required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>
    <div class="field column is-6">
      <div class="control">
        <%= f.input :email, label: "מייל", error: "נא מלא כתובת אימייל", required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="field column is-4">
      <div class="control">
        <label class="label">העלה קורות חיים</label>
        <div class="file">
          <label class="file-label">
            <%= f.input :resume, as: :file, error: "This is an error on item1", required: false, input_html: { class:"file-input job_application-avatar" }, label: false, wrapper: false %>
            <span class="file-cta">
              <span class="file-icon"><i class="fa fa-upload"></i></span>
              <span class="file-label">בחר קובץ…</span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="column">
      <output id="list"></output>
    </div>
  </div>
  <hr />
  <div class="column">
    <h4 class="subtitle is-6">אין לך כרגע קובץ להעלות?</h4>
    <h4 class="subtitle is-4">ספר לנו על עצמך</h4>
  </div>
  <hr />
  <div class="field">
    <div class="control">
      <%= f.input :summary, label: "ספר לנו על עצמך בשורה", error: "עד 80 אותיות", input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, placeholder: "ספר למעסיקים על עצמך" %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.input :years_experience, as: :collection_select, collection: ["ללא ניסיון", "1-3 שנות ניסיון", "3-5 שנות ניסיון", "5+ שנות ניסיון"], label: "שנות ניסיון", input_html: { class: "input", size: '1'}, wrapper: false, label_html: { class: "label" }, selected: 1 %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.input :work_experience, label: "ציין את מקומות העבודה האחרונים שעבדת בהם", error: "עד 80 אותיות", input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, placeholder: "מקומות העבודה האחרונים" %>
    </div>
  </div>
  <%= f.button :submit,  value: "שלח", class: "button is-primary is-large is-rounded mv4" %>
<% end %>