<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <%= render 'shared/flashes' %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <%= image_tag "LOGOWhite.png" %>
        <% end  %>
        <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span ></span>
          <span ></span>
          <span ></span>
        </div>
      </div>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to "<i class='fab fa-facebook'></i> &nbsp; לפייסבוק שלנו".html_safe, href="https://www.facebook.com/Jobkitchenisrael/", class: "navbar-item button is-link is-rounded", id: "facebook-button"%>
            </p>
            <p class="control">
              <%= link_to "פרסם משרה", new_job_path, class: "navbar-item button is-primary is-rounded" %>
            </p>
            <% if user_signed_in? %>
              <p class="control">
                <div class="navbar-item has-dropdown is-hoverable has-background-light">
                  <%= link_to 'חשבון', edit_user_registration_path, class: "navbar-link" %>
                  <div class="navbar-dropdown is-right">
                    <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                    <%= link_to "צא", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                  </div>
                </div>
              </p>
            <% else %>
              <p class="control">
                <%= link_to "התחבר", new_user_session_path, class:"navbar-item button" %>
              </p>
              <p class="control">
                <%= link_to "הרשם", new_user_registration_path, class:"navbar-item button"%>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>
  <footer class="footer reversed">
    <div class="container">
      <div class="columns footer-column">
        <div class="column is-one-third">
          <div class="footer-padding">
            <a class="footer-link-fb" href="https://www.facebook.com/Jobkitchenisrael/" target="_blank"><i class="fab fa-facebook"></i> תנו לייק בפייסבוק </a>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="footer-padding">
            <%= link_to "אודותינו", "/pages/about", class:"footer-link"%>
          </div>
          <div class="footer-padding">
            <%= link_to "תקנון מעסיקים", "/pages/תקנון_מעסיקים", class:"footer-link"%>
          </div>
          <div class="footer-padding">
            <%= link_to "תקנון מחפשי עבודה", "/pages/תקנון_מחפשי_עבודה", class:"footer-link"%>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="footer-padding">
            <%= link_to "פרסם משרה", new_job_path, class: "footer-link" %>
          </div>
        </div>
      </div>
      <div class="has-text-centered copy">
        <p class="f7 pt4">כל הזכויות שמורות לחברת ג'וב קיטשן בע"מ - Copyright © 2019 JobKitchen</p>
      </div>
    </div>
  </footer>
</body>
</html>